{% extends "base.html" %}
{% block content %}
    <main class="container p-5">
        <h1>Your Key to Informed Living! </h1>
        <p class="lead">
            "Unlock your ideal rental experience with RentRater! Find your perfect home by browsing real tenant reviews and ratings. Our user-friendly platform ensures you make informed decisions, avoiding rental pitfalls. Discover the best places to live and create a home you love. Join RateMyRental today and turn your next move into a smart move!"
        </p>
        <p class="lead">
            <a href="{% url 'signup' %}" class="btn btn-lg btn-secondary fw-bold">Sign up now!</a>
        </p>
    </main>
{% endblock content %}
