{% extends "base.html" %}
{% block style %}
    .form-post {
    max-width: 960px;
    padding: 1rem;
    }
    .form-post .form-floating:focus-within {
    z-index: 2;
    }
{% endblock style %}
{% block content %}
    <main class="form-post w-100 m-auto mt-3 p-4 card">
        <h3>Post a property...</h3>
        {% if form.non_field_errors %}
            <div class="alert alert-danger pt-2 p-0" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
        <form method="post" class="mt-2">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="address"
                       name="address"
                       placeholder="address">
                <label for="address">Address</label>
                {% if form.address.errors %}<div class="text-danger" role="alert">{{ form.address.errors }}</div>{% endif %}
            </div>
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="area"
                       name="area"
                       placeholder="Area">
                <label for="area">Area</label>
                {% if form.area.errors %}<div class="text-danger" role="alert">{{ form.area.errors }}</div>{% endif %}
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mt-3">
                        <select type="text"
                                class="form-control"
                                id="property_type"
                                name="property_type"
                                placeholder="Property type">
                            <option>Apartment</option>
                            <option>House</option>
                            <option>Studio</option>
                        </select>
                        <label for="property_type">Property Type</label>
                        {% if form.property_type.errors %}
                            <div class="text-danger" role="alert">{{ form.property_type.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mt-3">
                        <select type="text"
                                class="form-control"
                                id="room_type"
                                name="room_type"
                                placeholder="Room type">
                            <option>Single Room</option>
                            <option>Double Room</option>
                        </select>
                        <label for="room_type">Room Type</label>
                        {% if form.room_type.errors %}<div class="text-danger" role="alert">{{ form.room_type.errors }}</div>{% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mt-3">
                        <select type="text"
                                class="form-control"
                                id="gender_preference"
                                name="gender_preference"
                                placeholder="Gender preference">
                            <option value="B">Male / Female</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <label for="gender_preference">Gender Preference</label>
                        {% if form.gender_preference.errors %}
                            <div class="text-danger" role="alert">{{ form.gender_preference.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mt-3">
                        <select type="text"
                                class="form-control"
                                id="owner_occupied"
                                name="owner_occupied"
                                placeholder="Owner occupied">
                            <option>Yes</option>
                            <option>Not</option>
                        </select>
                        <label for="owner_occupied">Owner Occupied</label>
                        {% if form.owner_occupied.errors %}
                            <div class="text-danger" role="alert">{{ form.owner_occupied.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <textarea rows="5"
                      placeholder="Description"
                      id="description"
                      name="description"
                      class="w-100 mt-3 p-2"
                      style="border-color: #eeeeee"></textarea>
            {% if form.description.errors %}<div class="text-danger" role="alert">{{ form.description.errors }}</div>{% endif %}
            <div class="form-floating mt-3">
                <input type="file"
                       accept="image/png, image/gif, image/jpeg"
                       class="form-control"
                       id="image1"
                       placeholder="">
                <label for="image1">Image</label>
            </div>
            <div class="form-floating mt-3">
                <input type="file"
                       accept="image/png, image/gif, image/jpeg"
                       class="form-control"
                       id="image2"
                       placeholder="">
                <label for="image2">Image</label>
            </div>
            <div class="form-floating mt-3">
                <input type="file"
                       accept="image/png, image/gif, image/jpeg"
                       class="form-control"
                       id="image3"
                       placeholder="">
                <label for="image3">Image</label>
            </div>
            <div class="form-floating mt-3">
                <input type="file"
                       accept="image/png, image/gif, image/jpeg"
                       class="form-control"
                       id="image4"
                       placeholder="">
                <label for="image4">Image</label>
            </div>
            <div class="form-floating mt-3">
                <input type="file"
                       accept="image/png, image/gif, image/jpeg"
                       class="form-control"
                       id="image5"
                       placeholder="">
                <label for="image5">Image</label>
            </div>
            <button class="btn btn-primary w-100 py-2 my-3"
                    style="color: #ffffff"
                    type="submit">Post</button>
        </form>
    </main>
{% endblock content %}
